extends default
block content
    div.container
    form(action='/', method='POST')
        p
          | username: 
          input(type='text', name='username', value='username')
        p
          | password: 
          input(type='password', name='password', value='password')
        input(type='submit', value='Submit')
    if message
        p #{message}